<ion-menu [content]="content"  side="left" id = "menu1">
  <ion-header>
    <ion-toolbar no-padding>
       <div class="image_top" style="background:url(assets/images/menu_bck.jpg); width:100%; height:40vh; background-size: cover;
background-attachment: scroll;">
<div class="uper_imge">
  <img [src]="srcimage">
  
  </div>
  <h4 class="user_lyr">{{uname}}</h4>
      </div>
    </ion-toolbar>
  </ion-header>

  

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<!--<ion-nav [root]="rootPage" #content  *ngIf = "this.User_id != null"></ion-nav>
<ion-nav [root]="rootPage" #content swipeBackEnabled="false" *ngIf = "this.User_id == null" id="menu1"></ion-nav>-->


<ion-nav [root]="rootPage" #content swipeBackEnabled="false" id = "menu1"></ion-nav>