<ion-header>
  <ion-navbar color="blue">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Sign Up</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="uper_logo">
 <img class="black_logo" src="assets/images/final_logo-01.png">
  </div>

<form (ngSubmit)="onSubmit()" #SignupForm="ngForm">
 <ion-list>
  <ion-item class="uni_zro">
    <!--<ion-label fixed>Name</ion-label>-->
    <ion-input type="text" [(ngModel)]="data.name"  placeholder="Name" name="name" id="name" #name="ngModel" required></ion-input>
      
  </ion-item>
  <ion-label  class="alert alert-danger outr_vlid" color="danger">
        <div *ngIf="name.errors && (name.dirty || name.touched)">
          <p [hidden]="!name.errors.required" style="font-size:1.4rem; margin-bottom: 0px;">
            Field is required
            </p>
        </div>
      </ion-label>




  <ion-item class="uni_zro">
    <!--<ion-label fixed>Phone</ion-label>-->
    <ion-input type="number"  [(ngModel)]="data.phone" name="phone" placeholder="Phone" id="phone" #phone="ngModel" required></ion-input>
          
  </ion-item>

  <ion-label class="alert alert-danger outr_vlid" color="danger">
          <div *ngIf="phone.errors && (phone.dirty || phone.touched)">
            <p [hidden]="!phone.errors.required" style="font-size:1.4rem; margin-bottom: 0px;">
              Field is required
              </p>
              <p [hidden]="!phone.errors.valid" style="font-size:1.4rem; margin-bottom: 0px;">
              Invalid Format
              </p>
          </div>
      </ion-label>

  <ion-item class="uni_zro">
    <!--<ion-label fixed>Email ID</ion-label>-->
    <ion-input [(ngModel)]="data.email"  name="email" type="email" placeholder="Email" id="email" required pattern='^[a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,15})$'  #email="ngModel"></ion-input>
       
  </ion-item>

   <ion-label class="alert alert-danger outr_vlid" color="danger">
        <div *ngIf="email.errors && (email.dirty || email.touched)" >
          <p [hidden]="!email.errors.required" style="font-size:1.4rem; margin-bottom: 0px;">
            Field is required
            </p>
            <p [hidden]="!email.errors.pattern" style="font-size:1.4rem; margin-bottom: 0px;">
            In-valid Email
            </p>
        </div>
     </ion-label>

  <ion-item class="uni_zro">
    <!--<ion-label fixed>Password</ion-label>-->
    <ion-input type="password"  [(ngModel)]="data.password" name="password" placeholder="Password"  id="password" minlength="6" required   #password="ngModel"></ion-input>
       
  </ion-item>

     <ion-label class="alert alert-danger outr_vlid" color="danger">
            <div *ngIf="password.errors && (password.dirty || password.touched)">
              <p [hidden]="!password.errors.required" style="font-size:1.4rem; margin-bottom: 0px;">
                Field is required
                </p>
            </div>
            <div *ngIf="password.errors && (password.dirty || password.touched)" >
              <p [hidden]="!password.errors.minlength" style="font-size:1.4rem; margin-bottom: 0px;">
                Password Minlength 6 Character 
                </p>
            </div>
     </ion-label>


  <ion-item class="brdr_btm uni_zro">
    <!--<ion-label fixed>Confirm Password</ion-label>-->
    <ion-input [(ngModel)]="data.cpassword" name="cpassword" type="password" placeholder="Confirm Password"  id="cpassword" minlength="6" required   #cpassword="ngModel"></ion-input>
            
  </ion-item>

  <ion-label class="alert alert-danger outr_vlid" color="danger">
            <div *ngIf="cpassword.errors && (cpassword.dirty || cpassword.touched)" >
              <p [hidden]="!cpassword.errors.required" style="font-size:1.4rem; margin-bottom: 0px;">
                Field is required
                </p>
            </div>
            <div *ngIf="cpassword.errors && (cpassword.dirty || cpassword.touched)" >
              <p [hidden]="!cpassword.errors.minlength" style="font-size:1.4rem; margin-bottom: 0px;">
                Password Minlength 6 Character 
                </p>
            </div>
        </ion-label>
</ion-list>
    <button ion-button block class="btn_short" [disabled]="!SignupForm.form.valid" (click)="register(SignupForm)">Sign Up</button>
 </form> 


<div class="sign_alrdy">
  <p>Already have an account? <span style="color:#3b5998;" (click)="log_nxt();">Sign In</span></p>

  <h5>OR</h5>
  </div>

<div class="icon_logo">
  <ul>
    <li><a><img (click)="facebookLogin()" src="assets/images/fb_icon.png"></a></li>
    <li><a><img  (click)="twLogin()" src="assets/images/twtr.png"></a></li>
    <li><a><img (click)="loginUser()" src="assets/images/gogle_icon.png"></a></li>
    </ul>
    </div>
    <div class="step_skip">
      <h4>Skip this Step>></h4>
      </div>
</ion-content>
